* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  margin: 5rem auto;
  max-width: 400px;
  min-height: 400px;
  padding: 3rem;
  border: 1px solid black;
}
label {
  font-size: 1.5rem;
}
